@font-face {
  font-family: 'KPB';
  src:
    url('../fonts/font-kpb.ttf?4rw01n') format('truetype'),
    url('../fonts/font-kpb.woff?4rw01n') format('woff'),
    url('../fonts/font-kpb.svg?4rw01n#font-kpb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kpbi-"], [class*=" kpbi-"] {  
  font-family: 'KPB' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kpbi-chevron-down:before {
  content: "\e900";
}
.kpbi-chevron-left:before {
  content: "\e901";
}
.kpbi-chevron-right:before {
  content: "\e902";
}
.kpbi-chevron-up:before {
  content: "\e903";
}
.kpbi-dots-three-vertical:before {
  content: "\e904";
}
.kpbi-save:before {
  content: "\e905";
}
.kpbi-select-arrows:before {
  content: "\e906";
}
.kpbi-align-bottom:before {
  content: "\e907";
}
.kpbi-align-horizontal-middle:before {
  content: "\e908";
}
.kpbi-align-left:before {
  content: "\e909";
}
.kpbi-align-right:before {
  content: "\e90a";
}
.kpbi-align-top:before {
  content: "\e90b";
}
.kpbi-align-vertical-middle:before {
  content: "\e90c";
}
.kpbi-chat:before {
  content: "\e90d";
}
.kpbi-check:before {
  content: "\e90e";
}
.kpbi-circle-with-cross:before {
  content: "\e90f";
}
.kpbi-circle-with-minus:before {
  content: "\e910";
}
.kpbi-circle-with-plus:before {
  content: "\e911";
}
.kpbi-cross:before {
  content: "\e912";
}
.kpbi-cw:before {
  content: "\e913";
}
.kpbi-cycle:before {
  content: "\e914";
}
.kpbi-drop:before {
  content: "\e915";
}
.kpbi-edit:before {
  content: "\e916";
}
.kpbi-flash:before {
  content: "\e917";
}
.kpbi-funnel:before {
  content: "\e918";
}
.kpbi-help:before {
  content: "\e919";
}
.kpbi-image:before {
  content: "\e91a";
}
.kpbi-images:before {
  content: "\e91b";
}
.kpbi-info-with-circle:before {
  content: "\e91c";
}
.kpbi-lifebuoy:before {
  content: "\e91d";
}
.kpbi-light-bulb:before {
  content: "\e91e";
}
.kpbi-link:before {
  content: "\e91f";
}
.kpbi-magnifying-glass:before {
  content: "\e920";
}
.kpbi-mobile:before {
  content: "\e921";
}
.kpbi-new:before {
  content: "\e922";
}
.kpbi-pencil:before {
  content: "\e923";
}
.kpbi-plus:before {
  content: "\e924";
}
.kpbi-scissors:before {
  content: "\e925";
}
.kpbi-tablet:before {
  content: "\e926";
}
.kpbi-tv:before {
  content: "\e927";
}

